<div class="container">
  <!-- PDF Info Card -->
  <div class="card mb-4">
    <div class="card-content">
      <div class="content has-text-centered">
        <p class="title is-4">{{ pdfName }}</p>
        <button (click)="changePdf()" class="button is-warning">Change PDF</button>
      </div>
    </div>
  </div>

  <!-- Chat Card -->
  <div class="card">
    <div class="card-content">
      <div class="chat-box mb-4">
        <div *ngFor="let message of messages" class="message-container"
             [ngClass]="{'user-message': message.sender.toLowerCase() === 'user', 'bot-message': message.sender.toLowerCase() === 'bot'}">
          <span *ngIf="message.sender.toLowerCase() === 'bot'" class="icon is-small bot-icon">
            <img src="bot.png" alt="Bot Icon">
          </span>
          <div class="message p-3 mb-3"
               [ngClass]="{'has-background-info-light': message.sender.toLowerCase() === 'user', 'has-background-light': message.sender.toLowerCase() === 'bot'}">
            <span class="message-text">{{ message.text }}</span>
          </div>
          <span *ngIf="message.sender.toLowerCase() === 'user'" class="icon is-small user-icon">
            <img src="user.png" alt="User Icon">
          </span>
        </div>
      </div>

      <!-- Input and Buttons -->
      <div class="input-container">
        <input [(ngModel)]="query" type="text" placeholder="Type your message..." class="input">
        <button (click)="sendQuery()" class="button is-primary send-button">
          <img src="send.png" alt="Send" class="icon">
        </button>
      </div>
    </div>
  </div>
</div>
